/*-Google fontss-*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*- Varibales -*/
:root {
    --header-height: 3.5rem; /*56px*/
  
    /*- Colors-*/
    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-dark: hsl(var(--hue), 23%, 16%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
  
    /*- Font and typography -*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color);
}

.row{
    background-color: var(--first-color-lighten);
    border-radius: 1.5rem;

}

img{
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*- Header -*/
.header{
    background-color: #fff;
}

.nav__welcome{
    display: block;
    margin-top: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}


.nav-toggler-icon{
    color: var(--first-color-dark);
}

.nav__links{
    padding-left: 1rem;
}

.nav__link{
    text-decoration: none;
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color-dark);
}

.navbar-main .active{
    text-decoration: underline wavy var(--first-color);
    text-underline-offset: .5rem;
}

/*- Footer -*/
.footer__copy{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin: 5rem 0 1rem;
}